# Visual Studio
.vs/

# NuGet packages
packages/

# Build folders
Debug/
Release/
x64/
x86/

# Compiled/build files
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.tlog
*.log

# Visual Studio user-specific files
*.user
*.suo
*.VC.db
*.VC.opendb

# Temporary files
*.tmp